.parent {
  display: flex;
}

.leftdiv {
 flex-direction: column;
  background: lightblue;
  /* Just so it's visible */
  margin:10px;
}
.rightdiv {
 flex-direction: column;
  /* Grow to rest of container */
  background: lightgreen;
  /* Just so it's visible */
  margin:10px;
  text-align: center;
}
.bottomdiv {
  
  margin:  10px;
  background: lightblue;
  /* Just so it's visible */
}


